@use "styles/mixins" as m;

:host {
  display: flex;
  flex-direction: column;

  width: 200px;

  background-color: var(--background-color-sidebar);

  transition: width 0.5s ease 0s;

  &.collapsed {
    width: 50px;
  }
}

.header {
  border-left: 1px solid var(--light-border);
}

.main {
  flex: 1 1 auto;
  min-height: 0;
  border-right: 1px solid var(--light-border);
  border-left: 1px solid var(--light-border);
}

.footer {
  flex: 0 0 auto;
  margin-top: auto;
}

@media (width <= 768px) {
  :host {
    width: 150px;
  }

  :host:not(.collapsed) {
    // min-width: 150px;
    flex-shrink: 0;
    width: 150px;
  }
}

@media (width <= 480px) {
  :host {
    width: 120px;
  }

  :host:not(.collapsed) {
    // min-width: 150px;
    flex-shrink: 0;
    width: 120px;
  }
}
