@use "styles/mixins" as m;

.modal-wrapper {
  position: fixed;
  z-index: 1000;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--modal-background-color);
}

.modal {
  pointer-events: none;

  width: 100%;
  max-width: 500px;
  border-radius: 8px;

  background-color: var(--light-solid);
  box-shadow: 0 8px 20px rgb(0 0 0 / 25%);

  animation: fade-in 0.5s ease-out;
}

.modal-content {
  @include m.flex-center-center-column;

  pointer-events: auto;
  color: var(--light-solid);
}

@media (width <= 570px) {
  .modal {
    width: 100%;
    max-width: 400px;
  }
}

@media (width <= 450px) {
  .modal {
    width: 100%;
    max-width: 300px;
  }
}

@keyframes fade-in {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
