@mixin margin-bottom10 {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

@mixin margin-bottom20 {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

@mixin margin-bottom30 {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

@mixin margin-bottom40 {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

@mixin flex-column {
  display: flex;
  align-items: center;
  gap: 10px;
}

@mixin flex-column20 {
  display: flex;
  align-items: center;
  gap: 20px;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center-center-column {
  display: flex;
  flex-direction: column;
}

