@mixin margin-bottom10 {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

@mixin margin-bottom20 {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

@mixin margin-bottom30 {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

@mixin margin-bottom40 {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

@mixin flex-column {
  display: flex;
  align-items: center;
  gap: 10px;
}

@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-center-center-column {
  display: flex;
  flex-direction: column;
}




@mixin switch {
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;

    input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--light-border);
      transition: 0.4s;
      border-radius: 34px;
      cursor: pointer;

      &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
        background-color: var(--light-solid);
        transition: 0.4s;
        border-radius: 50%;
      }
    }

    input:checked + .slider {
      background-color: var(--active-swich-back);
    }

    input:checked + .slider:before {
      transform: translateX(20px);
    }
  }
}
