@use "styles/mixins" as m;

.footer {
  min-height: 76px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--light-border);
}

.footer-add {
  @include m.margin-bottom10;
  @include m.flex-center-center;
  gap: 10px;
  &:hover {
    color: var(--color-text-icon-hover);
  }
}

.footer-profile {
  @include m.flex-center-between;
  gap: 10px;
}

.footer-initials {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--color-text-icon-hover);
  @include m.flex-center-center;
  font-weight: 600;
  font-size: 1rem;
  color: var(--light-solid);
  user-select: none;
  flex-shrink: 0;
}

.logout-icon {
  cursor: pointer;
  &:hover {
    color: var(--active-icon);
  }
}

.footer-text {
  white-space: nowrap;
}

.footer-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width <= 768px) {
  .footer {
    gap: 5px;
    padding: 5px;
  }
}

@media (width <= 480px) {
  .footer-add {
    gap: 5px;
    font-size: var(--font-size-error);
  }
  .footer-text {
    font-size: var(--font-size-error);
  }
  .footer-profile {
    gap: 5px;
  }
  .footer-initials {
    width: 20px;
    height: 20px;
    font-weight: 500;
    font-size: 0.8rem;
  }
}


