<div class="modal-footer">
  <button
    (click)="closeModal()"
    type="button"
    class="modal-footer-close"
  >
    Cancel
  </button>

  @if (variant() === 'form') {
    <button
      [attr.form]="formId()"
      [disabled]="disabled()"
      [class.disable]="disabled()"
      type="submit"
      class="modal-footer-submit"
    >
      {{ buttonAction }}
    </button>
  } @else if (variant() === 'delete') {
    <button
      (click)="onDelete()"
      type="button"
      class="modal-footer-delete"
    >
      {{ buttonAction }}
    </button>
  }
</div>
