@use "styles/mixins" as m;

.nav-tabs {
  flex-wrap: wrap;
  gap: 20px;

  min-height: 56px;
  padding: 10px 10px 10px 20px;
  border-right: 1px solid var(--light-border);
  border-bottom: 1px solid var(--light-border);

  background-color: var(--background-color-navbar);

  @include m.flex-center-between;
}

.tabs-actions {
  @include m.flex-column20;

  flex-wrap: wrap;
}

.dash-actions {
  @include m.flex-column20;
}

.dash-action-button {
  &:hover {
    color: var(--color-text-icon-hover);
  }
}

.tab-button {
  border-bottom: 2px solid transparent;
  font-weight: var(--font-weight-title);
  transition: all 0.2s ease;

  &:hover {
    color: var(--color-text-icon-hover);
  }

  &.active {
    border-bottom: 2px solid var(--border-bottom-active);
  }

  &:focus-visible {
    outline: 2px solid var(--active-text);
    outline-offset: 2px;
  }
}

.dash-action-button.delete.disable,
.tab-button.arrow-forward.disable,
.tab-button.arrow-back.disable {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.edit-title-tab {
  display: flex;
  gap: 16px;
  align-items: center;

  padding: 10px;
  border: 1px solid var(--light-border);

  .material-symbols-outlined {
    font-size: 16px;
  }
}

.add-tab,
.discard,
.save {
  padding: 10px;
  border: 1px solid var(--light-border);
}

.add-tab {
  display: flex;
  column-gap: 10px;
  align-items: center;

  .material-symbols-outlined {
    font-size: 20px;
  }
}
