@let dashboards = dashboardsSignal();

<div class="main-loader">
  @if (isDashboardBusy()) {
    <app-loader-overlay class="main-spinner"></app-loader-overlay>
  } @else if (dashboards.length === 0) {
      <div class="empty-state-dashboards">
        {{ emptyDashboardText() }}
      </div>
    } @else {
      <nav class="nav-wrapper">
        <ul class="menu-items">
          @for (dashboard of dashboards; track dashboard.id) {
            <li routerLinkActive="active" class="menu-item">
              <a [routerLink]="['/dashboard', dashboard.id]" class="menu-item-link">
                <span class="material-symbols-outlined dash-icon">{{
                  dashboard.icon
                }}</span>
                @if (!sidebarCollapsed()) {
                  <div class="item-title">{{ dashboard.title }}</div>
                }
              </a>
            </li>
          }
        </ul>
      </nav>
  }
</div>
