@use "styles/mixins" as m;

.nav-wrapper {
  flex: 1 1 auto;
  min-height: 0;
  padding: 5px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item.active {
  color: var(--color-text-icon-active);
  background-color: var(--background-color-menu-item-active-sidebar);

  .sidebar-icon {
    color: var(--color-text-icon-active);
  }

  &:hover {
    color: var(--color-text-icon-active-hover);
  }
}

.menu-item {
  @include m.flex-column;

  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  font-weight: var(--font-weight-title);

  &:hover {
    color: var(--color-text-icon-hover);
  }
}

.menu-item-link {
  @include m.flex-column;

  width: 100%;
}

.sidebar-icon {
  width: 24px;
  height: 24px;
  color: var(--light-border);
}

.main-loader:has(.empty-state-dashboards) {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  font-size: 12px;
  line-height: 1.2;
}

.main-loader:has(.main-spinner) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (width <= 768px) {
  .menu-item {
    font-size: var(--font-size-error);
  }
}
