@use "styles/fonts";
@use "material-design-icons/iconfont/material-icons";
@use "styles/null";
@use "styles/mixins";

:root {
  --dark-solid: #000000;
  --light-solid: #ffffff;
  --text-primary: #ffffff;
  --back-primary: #121212;
  --back-cards: #1e1e1e;
  --dash-header: #0d1c24;
  --light-border: #696969;
  --active-primary: #0d3c4e;
  --active-text: #40c4ff;
  --active-swich-back: #7fffd4;

  --font-family: "Roboto";
  --font-size-error: 12px;
  --font-size-base: 14px;
  --font-size-h1: 18px;
  --font-size-title: 16px;
  --font-weight-base: 400;
  --font-weight-h1: 700;
  --font-weight-title: 500;
  --line-height: 1.4;

  --box-shadow-active: rgba(0, 255, 0, 0.7);
  --box-border-active: #00ff00;
  --active-icon: red;
  --background-color404: #f7fafc;
  --color404: #3f51b5;
  --background-color404-hover: #283593;
  --modal-background-color: #0006;
}

body {
  font-family: var(--font-family), serif;
  font-size: var(--font-size-base);
  flex-wrap: var(--font-weight-base);
  background-color: var(--back-primary);
  color: var(--text-primary);
  line-height: var(--line-height);
}

.h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-h1);
}

.h2,
h3 {
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-title);
}
