.card-container {
  padding: 10px;
  columns: 300px;
  column-gap: 30px;
}

@media (width <= 480px) {
  .card-container {
    column-count: 1;      /* фиксируем одну колонку */
    column-width: auto;   /* чтобы не мешало */
    column-gap: 16px;     /* уже межколоночный интервал */
  }
}
