:host {
  display: block;
  width: 100%;
}

.device-wrapper.horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  .device-icon {
    color: red;
    width: 24px;
    height: 24px;
  }
}

.device-wrapper.vertical {
  display: grid;
  grid-template-columns: 24px 1fr 1fr;
  align-items: center;
  width: 100%;
  gap: 15px;
  .device-icon {
    color: red;
    width: 24px;
    height: 24px;
  }
  .device-state {
    justify-self: center;
    .switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--light-border);
        transition: 0.4s;
        border-radius: 34px;
        cursor: pointer;

        &:before {
          position: absolute;
          content: "";
          height: 16px;
          width: 16px;
          left: 2px;
          bottom: 2px;
          background-color: var(--light-solid);
          transition: 0.4s;
          border-radius: 50%;
        }
      }

      input:checked + .slider {
        background-color: var(--active-swich-back);
      }

      input:checked + .slider:before {
        transform: translateX(20px);
      }
    }
  }
}

.device-wrapper.single {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .device-block {
    display: flex;
    align-items: center;
    gap: 45px;
    .device-icon.icon-on {
      color: red;
      width: 24px;
      height: 24px;
    }
    .device-icon.icon-off {
       color: var(--light-solid);
       width: 24px;
       height: 24px;
     }
  }
}
