@if (device()) {
  @switch (layout()) {
    @case (LAYOUT.HORIZONTAL) {
      <div class="device-wrapper horizontal">
        <div class="device-label">{{ device()?.label }}</div>
        <span class="material-symbols-outlined device-icon">{{
          device()?.icon
        }}</span>
        <div class="device-state">{{ device()?.state }}</div>
      </div>
    }
    @case (LAYOUT.VERTICAL) {
      <div class="device-wrapper vertical">
        <span
          [appLightActiveDevice]="!!device()?.state"
          class="material-symbols-outlined device-icon"
        >
          {{ device()?.icon }}
        </span>
        <div class="device-label">{{ device()?.label }}</div>
        <div class="device-state">
          <label class="switch">
            <input [checked]="device()?.state" name="switch" type="checkbox" />
            <span class="slider"></span>
          </label>
        </div>
      </div>
    }
    @case (LAYOUT.SINGLE_DEVICE) {
      <div class="device-wrapper single">
        <div class="device-block">
          <div class="device-label">{{ device()?.label }}</div>
          <span
            [ngClass]="device()?.state ? 'icon-on' : 'icon-off'"
            class="material-symbols-outlined device-icon"
          >
            {{ device()?.icon }}
          </span>
        </div>
        <div class="device-state">{{ device()?.state | deviceState }}</div>
      </div>
    }
  }
}
