@if (device()) {
  @switch (layout()) {
    @case (LAYOUT.HORIZONTAL) {
      <div class="device-wrapper horizontal">
        <div class="device-label">{{ device()?.label }}</div>
        <span class="material-symbols-outlined device-icon">{{
          device()?.icon
        }}</span>
        <ng-container [ngTemplateOutlet]="toggleBtn"></ng-container>
        @if (isEditMode()) {
          <ng-container [ngTemplateOutlet]="deleteBtn"></ng-container>
        }
      </div>
    }
    @case (LAYOUT.VERTICAL) {
      <div class="device-wrapper vertical">
        <span
          [appLightActiveDevice]="!!device()?.state"
          class="material-symbols-outlined device-icon"
        >
          {{ device()?.icon }}
        </span>
        <div class="device-label">{{ device()?.label }}</div>
        <ng-container [ngTemplateOutlet]="toggleBtn"></ng-container>
        @if (isEditMode()) {
          <ng-container [ngTemplateOutlet]="deleteBtn"></ng-container>
        }
      </div>
    }
    @case (LAYOUT.SINGLE_DEVICE) {
      <div class="device-wrapper single">
        <div class="device-block">
          <div class="device-label">{{ device()?.label }}</div>
          <span
            [ngClass]="device()?.state ? 'icon-on' : 'icon-off'"
            class="material-symbols-outlined device-icon"
          >
            {{ device()?.icon }}
          </span>
        </div>
        <div class="device-actions">
          <ng-container [ngTemplateOutlet]="toggleBtn"></ng-container>
          @if (isEditMode()) {
            <ng-container [ngTemplateOutlet]="deleteBtn"></ng-container>
          }
        </div>
      </div>
    }
  }
}

<ng-template #deleteBtn>
  <button (click)="onItemDelete()" type="button" class="tab-button delete-item">
    <span class="material-symbols-outlined dash-action-icon">delete</span>
  </button>
</ng-template>

<ng-template #toggleBtn>
  <button
    [attr.aria-pressed]="isOn()"
    type="button"
    class="device-toggle"
    disabled
  >
    <span [ngClass]="toggleClasses()" class="material-symbols-outlined">
      {{ toggleIcon() }}
    </span>
  </button>
</ng-template>
