@use "styles/mixins" as m;

.header-wrapper {
  max-height: 76px;
  border-bottom: 1px solid var(--light-border);
  border-right: 1px solid var(--light-border);
  padding: 10px;
  @include m.flex-column;
}

.menu-open-icon {
  width: 24px;
  height: 24px;
  color: var(--light-border);
  cursor: pointer;
}
