@use "styles/mixins" as m;

.header-wrapper {
  height: 56px;
  border-bottom: 1px solid var(--light-border);
  border-right: 1px solid var(--light-border);
  padding: 10px;
  @include m.flex-column;
}

.menu-open-icon {
  width: 24px;
  height: 24px;
  color: var(--light-solid);
  cursor: pointer;
  &:hover {
    color: var(--active-text);
  }
  &:focus-visible {
    outline: 2px solid var(--light-border);
    outline-offset: 2px;
  }
}

.header-title {
  white-space: nowrap;
}
