@use "styles/mixins" as m;

:host {

}

.card-wrapper {
  padding: 10px;
  background-color: var(--background-color-card);
  color: var(--color-text-card);
  border-radius: 5px;
  break-inside: avoid;
  margin-bottom: 20px;
  min-width: 0;
  border: 2px solid transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  &.active-card {
    box-shadow: 0 0 15px var(--card-shadow-active);
    border: 2px solid var(--card-border-active);
    transition: all 0.3s ease;
  }
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  @include m.margin-bottom20;
}

.tab-toggle {
  text-align: right;
  color: var(--device-sensor-off);
  font-size: 38px;
  .off {
    font-size: 38px;
    color: var(--device-sensor-off);
  }
  .on {
    font-size: 38px;
    color: var(--device-sensor-on);
  }
}

.header-title {
  display: flex;
  align-items: center;
  gap: 10px;
  .tab-button.edit-title.card {
    .material-symbols-outlined {
      font-size: 18px;
    }
  }
}

.singleDevice {
  .card-content {
    @include m.margin-bottom20;
  }
  .card-reorder {
    .material-symbols-outlined {
      font-size: 18px;
    }
  }
}

.horizontalLayout {
  .card-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    justify-items: start;
    justify-content: start;
    @include m.margin-bottom20;
  }
  .card-reorder {
    .material-symbols-outlined {
      font-size: 18px;
      color: var(--device-sensor-off);
      &:hover {
        color: var(--active-icon);
      }
    }
  }
}

.verticalLayout {
  .card-content {
    display: grid;
    grid-template-columns: 1fr; // только 1 колонка
    gap: 20px;
    justify-items: start;
    @include m.margin-bottom20;
  }
  .card-reorder {
    .material-symbols-outlined {
      font-size: 18px;
      color: var(--device-sensor-off);
      &:hover {
        color: var(--active-icon);
      }
    }
  }
}

.tab-button {
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  font-weight: var(--font-weight-title);
}

.tab-button.arrow-forward.disable,
.tab-button.arrow-back.disable {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.tab-button.delete-item {
  .dash-action-icon {
    color: var(--device-sensor-off);
    &:hover {
      color: var(--active-icon);
    }
  }
}

@media (width <= 480px) {
  .card-wrapper {
    padding: 7px;
    display: block;
  }
}

