@use "styles/mixins" as m;

.card-wrapper {
  break-inside: avoid;

  min-width: 0;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;

  color: var(--color-text-card);

  background-color: var(--background-color-card);
  box-shadow: 0 4px 10px rgb(0 0 0 / 8%);

  &.active-card {
    border: 2px solid var(--card-border-active);
    box-shadow: 0 0 15px var(--card-shadow-active);
    transition: all 0.3s ease;
  }
}

.card-header {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;

  @include m.margin-bottom20;
}

.tab-toggle {
  font-size: 38px;
  color: var(--device-sensor-off);
  text-align: right;

  .off {
    font-size: 38px;
    color: var(--device-sensor-off);
  }

  .on {
    font-size: 38px;
    color: var(--device-sensor-on);
  }
}

.header-title {
  display: flex;
  gap: 10px;
  align-items: center;

  .tab-button.edit-title.card {
    .material-symbols-outlined {
      font-size: 18px;
    }
  }
}

.singleDevice {
  .card-content {
    @include m.margin-bottom20;
  }

  .card-reorder {
    .material-symbols-outlined {
      font-size: 18px;
    }
  }
}

.horizontalLayout {
  .card-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    justify-content: start;
    justify-items: start;

    @include m.margin-bottom20;
  }

  .card-reorder {
    .material-symbols-outlined {
      font-size: 18px;
      color: var(--device-sensor-off);

      &:hover {
        color: var(--active-icon);
      }
    }
  }
}

.verticalLayout {
  .card-content {
    display: grid;
    grid-template-columns: 1fr; // только 1 колонка
    gap: 20px;
    justify-items: start;

    @include m.margin-bottom20;
  }

  .card-reorder {
    .material-symbols-outlined {
      font-size: 18px;
      color: var(--device-sensor-off);

      &:hover {
        color: var(--active-icon);
      }
    }
  }
}

.tab-button {
  border-bottom: 2px solid transparent;
  font-weight: var(--font-weight-title);
  transition: all 0.2s ease;
}

.tab-button.arrow-forward.disable,
.tab-button.arrow-back.disable {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.tab-button.delete-item {
  .dash-action-icon {
    color: var(--device-sensor-off);

    &:hover {
      color: var(--active-icon);
    }
  }
}

@media (width <= 480px) {
  .card-wrapper {
    display: block;
    padding: 7px;
  }
}
