@if (cards().length > 0) {
  <app-card-list [cards]="cards()"></app-card-list>
} @else {
  <div class="empty-tab">
    <p>This tab doesn’t have any cards yet.</p>
  </div>
}

@if (isEditMode()) {
  <div class="add-wrapper">
    <button (click)="openAddCardModal()" type="button" class="tab-button add-card">
      <span class="material-symbols-outlined add-action-icon">add</span>Add Card</button>
  </div>

  @if (isAddCardOpenModal()) {
    <app-modal-create-card (submitted)="onAddCardSubmit($event)" (closed)="closeDelete()" ></app-modal-create-card>
  }
}
