@let tabs = tabsSignal();

<app-tab-switcher
  [tabs]="tabs"
  [activeTabId]="selectedTabId()"
  [editMode]="isEditMode()"
  (selectTab)="onTabSelected($event)"
  (deleteClick)="openDeleteModal()"
  (editClick)="onEditClick()"
  (saveClick)="onSave()"
  (discardClick)="onDiscard()"
></app-tab-switcher>

<router-outlet></router-outlet>

@if (tabs.length === 0) {
  <div class="empty-dashboard" role="status">
    <p>This dashboard doesn’t have any tabs yet.</p>
  </div>
}

@if (isDeleteOpenModal()) {
  <app-modal-confirm-delete
    [entityDelete]="'dashboard'"
    [labelDelete]="dashboardIdRouteSignal() ?? ''"
    (closed)="closeDelete()"
    (deleted)="onDelete()"
  ></app-modal-confirm-delete>
}
