:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  color: var(--text-card);

  background-color: var(--background-color-app);
}

.tab-button {
  border-bottom: 2px solid transparent;
  border-radius: 4px;

  font-weight: var(--font-weight-title);

  background-color: var(--background-color-tab-add);

  transition: all 0.2s ease;

  &:hover {
    color: var(--color-text-icon-hover);
  }

  &.active {
    border-bottom: 2px solid red;
  }

  &:focus-visible {
    outline: 2px solid var(--active-text);
    outline-offset: 2px;
  }
}

.add-wrapper {
  padding: 20px;
}

.add-card {
  display: flex;
  column-gap: 10px;
  align-items: center;

  padding: 10px;
  border: 1px solid var(--light-border);

  color: var(--light-solid);

  .material-symbols-outlined {
    font-size: 20px;
  }
}

.empty-tab {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  font-size: var(--font-size-h1);
}

.tab-content:has(.tab-spinner) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
}
