@use "styles/mixins" as m;

.footer {
  min-height: 76px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--light-border);
}

.footer-add {
  @include m.margin-bottom10;
  @include m.flex-center-center;
  gap: 10px;
  &:hover {
    color: var(--active-text);
  }
}

.footer-profile {
  @include m.flex-center-between;
  gap: 10px;
}

.footer-initials {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--active-text);
  @include m.flex-center-center;
  font-weight: 600;
  font-size: 1rem;
  color: var(--light-solid);
  user-select: none;
  flex-shrink: 0;
}

.logout-icon {
  cursor: pointer;
  &:hover {
    color: var(--active-icon);
  }
}

.footer-text {
  white-space: nowrap;
}
