<footer class="footer">
  <button type="button" (click)="openCreate()" class="footer-add">
    <span class="material-symbols-outlined add-icon">add</span>
    @if (!sidebarCollapsed()) {
      <span class="footer-text">Add Dashboard</span>
    }
  </button>
  @if (profile(); as user) {
    <div class="footer-profile">
      <div class="footer-initials">{{ user.initials }}</div>
      @if (!sidebarCollapsed()) {
        <div class="footer-text">{{ user.fullName }}</div>
        <span (click)="onLogout()" class="material-symbols-outlined logout-icon">logout</span>
      }
    </div>
  } @else {
    <div class="no-profile">No profile data</div>
  }
</footer>

@if (isCreateOpenModal()) {
  <app-modal-create-dashboards></app-modal-create-dashboards>
}
