@if (card()) {
  <div
    [ngClass]="card()?.layout"
    [appLightActiveCard]="devices"
    class="card-wrapper"
  >
    <div class="card-header">
      <h2 class="h2 card-title">{{ card()?.title }}</h2>
      <button type="button" class="tab-toggle">
        <span class="material-symbols-outlined toggle-action-icon">toggle_on</span>
      </button>
    </div>
    <div class="card-content">
      @if (!isEmptyCard()) {
        @for (sensor of sensors; track sensor.label) {
          <app-sensor [sensor]="sensor" [layout]="card()?.layout"></app-sensor>
        }
        @for (device of devices; track device.label) {
          <app-device [device]="device" [layout]="card()?.layout"></app-device>
        }
      } @else {
        <div class="empty-card">
          <p>This card doesn’t have any items yet.</p>
        </div>
      }
    </div>
  </div>
}



