@use "styles/mixins" as m;

.card-wrapper {
  padding: 20px;
  background-color: var(--active-text);
  border-radius: 5px;
  width: 100%;
  min-width: 0;
}

.card-title {
  @include m.margin-bottom20;
}


.singleDevice {
}


.horizontalLayout {
  .card-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    justify-items: start;
    justify-content: start;
  }
}
.verticalLayout {
  .card-content {
    display: grid;
    grid-template-columns: 1fr;  // только 1 колонка
    gap: 20px;
    justify-items: start;

  }
}
