@use "styles/mixins" as m;

.card-wrapper {
  padding: 10px;
  background-color: var(--active-text);
  border-radius: 5px;
  break-inside: avoid;
  @include m.margin-bottom20;
  min-width: 0;
  &.active-card {
    box-shadow: 0 0 15px var(--box-shadow-active);
    border: 2px solid var(--box-border-active);
    transition: all 0.3s ease;
  }
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  @include m.margin-bottom20;
}

.tab-toggle {
  .material-symbols-outlined.toggle-action-icon {
    font-size: 38px;
    color: var(--active-swich-back);
  }
}

.header-title {
  display: flex;
  align-items: center;
  gap: 10px;
  .tab-button.edit-title.card {
    .material-symbols-outlined {
      font-size: 18px;
    }
  }
}

.singleDevice {
}

.horizontalLayout {
  .card-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    justify-items: start;
    justify-content: start;
  }
}

.verticalLayout {
  .card-content {
    display: grid;
    grid-template-columns: 1fr; // только 1 колонка
    gap: 20px;
    justify-items: start;
  }
}
