@use "styles/mixins" as m;

:host {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0 5%;
}

.login-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}

.h1 {
  @include m.margin-bottom40;

  font-size: 2rem;
  text-align: center;
}

.form-body {
  @include m.margin-bottom30;
}

.control-label {
  display: flex;
  flex-direction: column;

  @include m.margin-bottom20;
}

.control-title {
  @include m.margin-bottom10;

  span {
    padding: 5px;
    color: var(--active-icon);
  }
}

.login-input {
  display: block;

  width: 100%;
  padding: 12px 20px;
  border: 1px solid var(--light-border);
  border-radius: 2px;

  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  line-height: 150%;
  color: var(--background-color-tab-modal);

  background-color: var(--light-solid);
}

.login-input:-webkit-autofill {
  -webkit-text-fill-color: var(--active-text);
}

.control-pass-input {
  position: relative;
  display: flex;
}

.password-eye-button {
  .pass-icon {
    position: absolute;
    top: 11px;
    right: 5px;
    color: var(--active-icon);
  }
}

.btn-login {
  cursor: pointer;

  width: 100px;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;

  font-size: 14px;
  font-weight: 700;
  line-height: 171%;
  color: var(--active-primary);

  background-color: var(--background-color-tab-modal);
  box-shadow: 4px 4px 0 0 rgb(255 255 255 / 25%);

  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.1s,
    transform 0.1s;

  &:hover {
    transform: translateY(-2px);
    color: var(--light-solid);
    background-color: var(--background-color-tab-modal-hover);
    box-shadow: 2px 2px 0 0 rgb(255 255 255 / 25%);
  }

  &:active {
    transform: translateY(2px);
    color: var(--active-primary);
    background: var(--active-text);
    box-shadow: none;
  }

  &:focus-visible {
    outline: 2px solid var(--light-border);
    outline-offset: 2px;
  }
}

.btn.btn-login {
  @include m.margin-bottom20;
}

.error-message {
  color: var(--active-icon);
  text-align: center;
}
