@use "styles/mixins" as m;

.modal-body {
  @include m.margin-bottom20;

  padding: 15px;
}

.form {
  @include m.flex-center-center-column;

  color: var(--text-card);
}

.form-field {
  @include m.margin-bottom20;
}

.form-label {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 10px;
  align-items: center;

  @include m.margin-bottom10;
}

.form-control-title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);

  span {
    color: var(--active-icon);
  }
}

.control-input {
  display: block;

  width: 100%;
  padding: 8px 10px;
  border: 1px solid var(--light-border);
  border-radius: 2px;

  line-height: 150%;
  color: var(--active-text);

  background-color: var(--light-solid);
}

.control-input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #fff inset;

  -webkit-text-fill-color: var(--active-text);
}

.modal-footer-submit.disable {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}
