@use "styles/mixins" as m;

:host {
  display: block;
  width: 100%;

  .tab-button.delete-item {
    .dash-action-icon {
      color: var(--device-sensor-off);

      &:hover {
        color: var(--active-icon);
      }
    }
  }
}

.device-wrapper.horizontal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;

  width: 100%;

  .device-icon {
    width: 24px;
    height: 24px;
    color: var(--device-sensor-off);
  }

  .device-toggle {
    color: var(--device-sensor-off);

    .on {
      color: var(--device-sensor-on);
    }
  }
}

.device-wrapper.vertical {
  display: grid;
  grid-template-columns: 24px 1fr 1fr 24px;
  gap: 15px;
  align-items: center;

  width: 100%;

  .device-icon {
    width: 24px;
    height: 24px;
    color: var(--device-sensor-off);

    &.active-device {
      color: var(--device-sensor-on);
    }
  }

  .device-state {
    justify-self: center;
  }

  .device-toggle {
    color: var(--device-sensor-off);

    .on {
      color: var(--device-sensor-on);
    }
  }
}

.device-wrapper.single {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .device-block {
    display: flex;
    gap: 45px;
    align-items: center;

    .device-icon.icon-on {
      width: 24px;
      height: 24px;
      color: var(--device-sensor-on);
    }

    .device-icon.icon-off {
      width: 24px;
      height: 24px;
      color: var(--device-sensor-off);
    }
  }

  .device-actions {
    display: flex;
    gap: 15px;
    align-items: center;

    .device-toggle {
      color: var(--device-sensor-off);

      .on {
        color: var(--device-sensor-on);
      }
    }
  }
}
