@use "styles/mixins" as m;

:host {
  display: block;
  width: 100%;
  .tab-button.delete-item {
    .dash-action-icon {
      color: var(--device-sensor-off);
      &:hover {
        color: var(--active-icon);
      }
    }
  }
}

.device-wrapper.horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  .device-icon {
    color: var(--device-sensor-off);
    width: 24px;
    height: 24px;
  }
  .device-toggle {
    color: var(--device-sensor-off);
    .on {
      color: var(--device-sensor-on);
    }
  }

}

.device-wrapper.vertical {
  display: grid;
  grid-template-columns: 24px 1fr 1fr 24px;
  align-items: center;
  width: 100%;
  gap: 15px;
  .device-icon {
    color: var(--device-sensor-off);
    width: 24px;
    height: 24px;
    &.active-device {
      color: var(--device-sensor-on);
    }
  }
  .device-state {
    justify-self: center;
  }
  .device-toggle {
    color: var(--device-sensor-off);
    .on {
        color: var(--device-sensor-on);
    }
  }
}

.device-wrapper.single {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .device-block {
    display: flex;
    align-items: center;
    gap: 45px;
    .device-icon.icon-on {
      color: var(--device-sensor-on);
      width: 24px;
      height: 24px;
    }
    .device-icon.icon-off {
      color: var(--device-sensor-off);
      width: 24px;
      height: 24px;
    }

  }
  .device-actions {
    display: flex;
    align-items: center;
    gap: 15px;
    .device-toggle {
      color: var(--device-sensor-off);
      .on {
        color: var(--device-sensor-on);
      }
    }
  }
}
