@use "styles/mixins" as m;

.nav-tabs {
  height: 56px;
  border-bottom: 1px solid var(--light-border);
  border-right: 1px solid var(--light-border);
  padding: 10px 10px 10px 20px;
  @include m.flex-center-between;
  gap: 20px;
  background-color: var(--active-primary);
}

.tabs-actions {
  @include m.flex-column20;
}

.dash-actions {
  @include m.flex-column20;
}

.dash-action-button {
  &:hover {
    color: var(--active-text);
  }
}

.tab-button {
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  font-weight: var(--font-weight-title);
  &:hover {
    color: var(--active-text);
  }
  &.active {
    border-bottom: 2px solid red;
  }
  &:focus-visible {
    outline: 2px solid var(--active-text);
    outline-offset: 2px;
  }
}

.dash-action-button.delete.disable {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
