@if (!editMode()) {
  <nav class="nav-tabs">
  <div class="tabs-actions">
    @for (tab of tabs(); track tab.id) {
      <button
        [class.active]="tab.id === activeTabId()"
        (click)="onTabClick(tab.id)"
        class="tab-button"
      >
        {{ tab.title }}
      </button>
    }
  </div>
  <div class="dash-actions">
    <button
      (click)="onEditClick()"
      type="button"
      class="dash-action-button edit"
    >
      <span class="material-symbols-outlined dash-action-icon">edit</span>
    </button>
    <button
      [class.disable]="editMode()"
      (click)="onDelete()"
      type="button"
      class="dash-action-button delete"
    >
      <span class="material-symbols-outlined dash-action-icon">delete</span>
    </button>
  </div>
</nav>
}

@if (editMode()) {
  <nav class="nav-tabs edit-mode">
    <div class="tabs-actions">
      @for (tab of tabs(); let i = $index; track tab.id) {
        <div class="edit-title-tab">
          <button type="button" [class.disable]="i === 0" class="tab-button arrow-back">
          <span class="material-symbols-outlined back-action-icon">arrow_back</span>
          </button>
          <button
          type="button"
          [class.active]="tab.id === activeTabId()"
          (click)="onTabClick(tab.id)"
          class="tab-button"
          >
            {{ tab.title }}
          </button>
          <button type="button" class="tab-button edit-title">
          <span class="material-symbols-outlined dash-action-icon">edit</span>
          </button>
          <button type="button" [class.disable]="i === tabs().length - 1" class="tab-button arrow-forward">
          <span class="material-symbols-outlined forward-action-icon">arrow_forward</span>
          </button>
          <button type="button" class="tab-button delete-tab">
            <span class="material-symbols-outlined dash-action-icon">delete</span>
          </button>
        </div>
      }
      <button type="button" class="tab-button add-tab">
        <span class="material-symbols-outlined add-action-icon">add</span> Add Tab
      </button>
    </div>
    <div class="dash-actions">
      <button type="button" (click)="onDiscard()" class="dash-action-button discard">Discard</button>
      <button type="button" (click)="onSave()" class="dash-action-button save">Save</button>
    </div>
  </nav>
}
