@if (sensor()) {
  @switch (layout()) {
    @case (LAYOUT.HORIZONTAL) {
      <div class="sensor-wrapper horizontal">
        <div class="sensor-label">{{ sensor()?.label }}</div>
        <span class="material-symbols-outlined sensor-icon">{{
          sensor()?.icon
        }}</span>
        <div class="sensor-value">
          {{ sensor()?.value | sensorValue }}
        </div>
        @if (isEditMode()) {
          <ng-container [ngTemplateOutlet]="deleteBtn"></ng-container>
        }
      </div>
    }
    @case (LAYOUT.VERTICAL) {
      <div class="sensor-wrapper vertical">
        <span class="material-symbols-outlined sensor-icon">{{
          sensor()?.icon
        }}</span>
        <div class="sensor-label">{{ sensor()?.label }}</div>
        <div class="sensor-value">
          {{ sensor()?.value | sensorValue }}
        </div>
        @if (isEditMode()) {
          <ng-container [ngTemplateOutlet]="deleteBtn"></ng-container>
        }
      </div>
    }
    @case (LAYOUT.SINGLE_DEVICE) {
      <div class="sensor-wrapper single">
        <div class="sensor-block">
          <div class="sensor-label">{{ sensor()?.label }}</div>
          <span class="material-symbols-outlined sensor-icon">
            {{ sensor()?.icon }}
          </span>
        </div>
        <div class="sensor-value">
          {{ sensor()?.value | sensorValue }}
        </div>
        @if (isEditMode()) {
          <ng-container [ngTemplateOutlet]="deleteBtn"></ng-container>
        }
      </div>
    }
  }
}
<ng-template #deleteBtn>
  <button (click)="onItemDelete()" type="button" class="tab-button delete-item">
    <span class="material-symbols-outlined dash-action-icon">delete</span>
  </button>
</ng-template>
