@use "styles/mixins" as m;

.modal-footer {
  @include m.flex-column;

  justify-content: flex-end;

  padding: 10px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  background-color: var(--text-card-border);

  button {
    cursor: pointer;

    max-width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;

    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    color: var(--light-solid);

    background-color: var(--background-color-tab-modal);

    &:hover {
      color: var(--background-color404-hover);
      background-color: var(--background-color-tab-modal-hover);
    }
  }
}

.modal-footer-submit.disable {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}
