@use "styles/mixins" as m;

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include m.margin-bottom20;
  padding: 10px;
  background-color: var(--text-card-border);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  .close-icon {
    &:hover {
      color: var(--active-icon);
    }
  }
}
