:host {
  display: block;
  width: 100%;
}

.sensor-wrapper.horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  .sensor-icon {
    color: var(--active-icon);
    width: 24px;
    height: 24px;
  }
}

.sensor-wrapper.vertical {
  display: grid;
  grid-template-columns: 24px 1fr 1fr 24px;
  align-items: center;
  width: 100%;
  gap: 20px;
  .sensor-icon {
    color: var(--active-icon);
    width: 24px;
    height: 24px;
  }
  .sensor-value {
    justify-self: center;
  }
}

.sensor-wrapper.single {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .sensor-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
    gap: 15px;
    .sensor-icon {
      color: var(--active-icon);
      width: 24px;
      height: 24px;
    }
  }
}
