@use "styles/mixins" as m;

.modal-body {
  @include m.margin-bottom20;
  padding: 15px;
}

.form {
  @include m.flex-center-center-column;
}

.form-field {
  @include m.margin-bottom20;
}

.form-label {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
  gap: 10px;
  @include m.margin-bottom10;
}

.form-control-title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  span {
    color: var(--active-icon);
  }
}

.control-input {
  width: 100%;
  display: block;
  border: 1px solid var(--light-border);
  border-radius: 2px;
  padding: 8px 10px;
  background-color: var(--light-solid);
  line-height: 150%;
  color: var(--active-text);
}

.control-input:-webkit-autofill {
  -webkit-text-fill-color: var(--active-text);
}

.modal-footer {
  @include m.flex-column;
  justify-content: flex-end;
  padding: 10px;
  background-color: var(--active-swich-back);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  button {
    max-width: 100px;
    border: none;
    background-color: var(--active-text);
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-title);
    color: var(--light-solid);
    &:hover {
      color: var(--color404);
    }
  }
}

.modal-close {
  &:hover {
    .close-icon {
      color: var(--active-icon);
    }
  }
}

.modal-footer-submit.disable {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
