<div class="modal-wrapper">
  <div class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Add Dashboard</h3>
        <button type="button" class="modal-close">
          <span class="material-symbols-outlined">close</span>
        </button>
      </div>
      <form class="form">
        <div class="modal-body">
          <div class="form-field">
            <label class="form-label">
              <span class="form-control-title">Id<span>*</span></span>
              <input
                class="control-input"
                name="id"
                type="text"
                placeholder="Id"
              />
            </label>
          </div>
          <div class="form-field">
            <label class="form-label">
              <span class="form-control-title">Name<span>*</span></span>
              <input
                class="control-input"
                name="name"
                type="text"
                placeholder="Name"
              />
            </label>
          </div>
          <div class="form-field">
            <label class="form-label">
              <span class="form-control-title">Icon<span>*</span></span>
              <input
                class="control-input"
                name="icon"
                type="text"
                placeholder="Icon"
              />
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="modal-footer-close">Cancel</button>
          <button type="submit" class="modal-footer-submit">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
