@use "styles/mixins" as m;

:host {
  width: 250px;
  background-color: var(--back-cards);
  display: flex;
  flex-direction: column;
}

.main {
  border-right: 1px solid var(--light-border);
  height: 100%;
}

.footer {
  margin-top: auto;
}
