@use "styles/mixins" as m;

:host {
  width: 250px;
  background-color: var(--back-cards);
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  :host(.closed) {
    width: 0;
    overflow: hidden;
  }
}

.main {
  border-right: 1px solid var(--light-border);
  height: 100%;
}

.footer {
  margin-top: auto;
}
