@use "styles/mixins" as m;

:host {
  width: 250px;
  background-color: var(--back-cards);
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: width 0.5s ease 0s;

  &.collapsed {
    width: 50px;
  }
}

.header {
  border-left: 1px solid var(--light-border);
}

.main {
  border-right: 1px solid var(--light-border);
  border-left: 1px solid var(--light-border);
  height: 100%;
}

.footer {
  margin-top: auto;
}
